.App {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;

  background: rgb(0,212,255);
  background: linear-gradient(180deg, rgba(0,212,255,1) 0%, rgba(65,65,173,1) 84%, rgba(55,48,182,1) 95%);
}